<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diegoinsua.uibestpracticesexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CategoryListWActivity"
            android:label="@string/categories_title" />
        <activity
            android:name=".activities.NoteListWActivity"
            android:label="@string/notes_title" />
        <activity
            android:name=".activities.EditNoteActivity"
            android:label="@string/note_edition_title" />
        <activity
            android:name=".activities.ImageListActivity"
            android:label="@string/image_list_title" />
        <activity
            android:name=".activities.ImageFullscreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.NoteListRActivity"
            android:label="@string/notes_title"/>
    </application>

</manifest>
